body {
    margin: 0;
}

#container {
    width: 100%;
    height: 100vh;
    background: rgb(185, 179, 179);
    overflow-y: scroll;
}

/* The code below corresponds to navbar.js */

.navBarNav {
    width: 100%;
    height: 5rem;
    border: 1px solid rgb(182, 108, 108);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(126, 46, 10);    
}

.profileDiv {
    width: 15%;
    border-right: 1px solid;
    height: 5rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 1rem; */
    padding: 0 1rem 0 1rem;
}

.profileImgDiv {
    width: 4rem;
    height: 4rem;
    background: rgb(165, 175, 122);
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    border-radius: 2rem;
    overflow: hidden;
}

.profileImg {
    width: 4rem;
    height: 4rem;
}

.userNameSpan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
}


.task-btn {
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-right: 3rem;
}

.front {
    width: 100%;
    display: flex;
    flex-direction: row;    
}

.left {
    width: 15%;
    background: white;
}

.middle {
    width: 85%;
}

.taskform {
    width: fit-content;
    border: 1px solid;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* calendar */

.yearDiv, .monthDiv, .week, .dateDiv {
    display: block;
}

.dateDiv {
    width: 14rem;
}

.schedule {
    width: fit-content;
    display: inline;
}

.div-schedule {
    /* display: none; */
}

.schedulebtn:hover .div-schedule{
    display: block;
}

.cell, .week {
    width: 2rem;
    height: 1.5rem;
}

.cell:focus {
    color: white;
    background: black;
}

.todoDiv {
    /* background: red; */
}

.title {
    background: rgb(233, 217, 217);
}

.todobody {
    display: flex;
    flex-direction: row;
}

.description, .date, .priorityl, .projectl {
    width: 20%;
    height: 3rem;
    border-radius: 1rem;
    background: red;
    padding: 1rem 0 1rem 3rem;
}