body {
  margin: 0;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(185, 179, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.taskform {
  position: fixed;
  background: rgb(129, 161, 126);
  padding: 1rem;
}

.formwrapper {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 80%;
  height: 4rem;
  background: black;
  position: relative;
}

.plusbutton {
  position: absolute;
  top: 0;
  right: 0;
}

.front {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.left {
  list-style: none;
  width: 25%;
  background: rgb(231, 100, 100);
  margin-right: 3%;
}

#projects {
  width: 30%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-btn {
  height: 2rem;
  width: 2rem;
}

.projecttext {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  background: rgb(218, 154, 154);
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.middle {
  width: 100%;
  background: rgb(136, 123, 123);
}

#todos {
  width: 100%;
  background: rgb(136, 123, 123);
}

.todo {
  border-bottom: 1px solid;
}

.iconify {
  z-index: -10;
}

.todo-item {
  height: inherit;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.6rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
}

.project,
.priority {
  font-size: 0.8rem;
}

.description,
.date {
  font-size: 0.8rem;
}

table,
th,
td {
  border-bottom: 1px solid black;
}

#calendar {
  width: 170px;
}

.Mo,
.Tu,
.We,
.Th,
.Fr,
.Sa,
.Su {
  width: 24px;
  font-size: 8px;
}

.cell {
  width: 24px;
  height: 16px;
  font-size: 8px;
}

.cell:focus {
  background: rgb(76, 76, 201);
}
